<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h2>Selamat Datang di Traveloke!</h2>
<h3>Tambah Hotel</h3>
<td><a th:href="@{/hotel/add}">Tambah Hotel</a></td>
<td><a href="/hotel/viewall">View All</a></td>

<h3>Cari Hotel Berdasarkan ID</h3>

<form th:action="@{/hotel/view}" method = "GET">
    Id Hotel : <br>
    <input type="text" name="idHotel"/>
    <button type = "submit">Cari</button>
</form>
</body>
</html>