<!DOCTYPE html>
<html xmlns:th= "http://www.thymeleaf.org" >
<head>
    <title> Update Password </title>
    <object th:include= "fragments/fragment :: css" th:remove= "tag" ></object>
    <object th:include= "fragments/fragment :: js" th:remove= "tag" ></object>
</head>
<body>
    <nav th:replace="fragments/fragment :: navbar"></nav>
    <div class= "container-fluid" style="height: 100vh">
        <div class= "row" style="align-content: center; justify-content: center; height: 100%">
            <div class= "col-md-4" >
                <div class= "card" >
                    <div class= "card-header" >
                        Update Password
                    </div>
                    <div class= "card-body" >
                        <form th:action= "@{/user/updatePassword}" method= "POST" >
                            <div class= "row form-group" >
                                <label class= "col-sm-4" > Password Lama: </label>
                                <input type= "password" class= "col-sm-8 form-control input-sm" name= "oldPassword" >
                            </div>
                            <div class= "row form-group" >
                                <label class= "col-sm-4" > Password Baru: </label>
                                <input type= "password" class= "col-sm-8 form-control input-sm" name= "newPassword" >
                            </div>
                            <div class= "row form-group" >
                                <label class= "col-sm-4" > Konfirmasi Password Baru: </label>
                                <input type= "password" class= "col-sm-8 form-control input-sm" name= "confirmNewPassword" >
                            </div>
                            <div class= "row form-group" >
                                <button type= "submit" class= "btn btn-primary" style="margin-left: 1rem"> Simpan </button>
                            </div>
                            <h3 class="text-danger" th:text="${message}"></h3>
                            <div th:if="${messageSukses}">
                                <h3 th:text="${messageSukses}"></h3>
                                <small>Silahkan login <a href="/login">disini</a></small>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>