<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <title>View All Hotel</title>

    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
    <nav th:replace="fragments/fragment :: navbar"></nav>
    <h2  class="text-center">Daftar Seluruh Hotel</h2>
    <table class="table text-center">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">ID Hotel</th>
            <th scope="col">Nama Hotel</th>
            <th scope="col">Alamat Hotel</th>
            <th scope="col">Nomor Telepon</th>
            <th scope="col">Aksi</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="hotel, iterationStatus : ${listHotel}">
            <td th:text="${iterationStatus.count}"></td>
            <td th:text="${hotel.id}"></td>
            <td th:text="${hotel.namaHotel}"></td>
            <td th:text="${hotel.alamat}"></td>
            <td th:text="${hotel.nomorTelepon}"></td>
            <td>
                <a class="btn btn-sm btn-primary" th:href="@{/hotel/view?idHotel=}+${hotel.id}">Lihat</a>
                <a class="btn btn-sm btn-warning" th:href="@{/hotel/change/}+${hotel.id}">Ubah</a>
                <a class="btn btn-sm btn-danger" th:href="@{/hotel/delete/}+${hotel.id}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
    <a class="btn btn-primary" href="/">Kembali</a>
</body>
</html>