<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <title>View Hotel</title>
</head>
<body>
<section>
    <h2>Informasi Hotel</h2>
    <h3 th:text="'Id Hotel: ' + ${hotel.id}"></h3>
    <h3 th:text="'Nama Hotel: ' + ${hotel.namaHotel}"></h3>
    <h3 th:text="'Alamat Hotel: ' + ${hotel.alamat}"></h3>
    <h3 th:text="'Nomor Telepon: ' + ${hotel.nomorTelepon}"></h3>
    <a href="/hotel/viewall">Kembali</a>
</section>
<section>
    <h2>Daftar Kamar:</h2>
    <div th:if="${listKamar.isEmpty()}">
        <h3>Hotel ini belum memiliki kamar</h3>
    </div>
    <div th:unless="${listKamar.isEmpty()}" th:each="kamar : ${listKamar}">
        <h3 th:text="'No Kamar: ' + ${kamar.noKamar}"></h3>
        <h3 th:text="'Nama Kamar: ' + ${kamar.namaKamar}"></h3>

        <h3 th:if="${kamar.tipe == 0}">Tipe : Deluxe</h3>
        <h3 th:if="${kamar.tipe == 1}">Tipe : Executive</h3>
        <h3 th:if="${kamar.tipe == 2}">Tipe : President Suite</h3>

        <h3 th:text="'Kapasitas Kamar: ' + ${kamar.kapasitasKamar}"></h3>

        <a th:href="@{/kamar/change/}+${kamar.noKamar}">Change Kamar</a>
        <a th:href="@{/kamar/delete/}+${kamar.noKamar}">Delete Kamar</a>
        <hr>
    </div>
    <a th:href="@{/kamar/add/}+${hotel.id}">Add Kamar</a>
    <a th:href="@{/hotel/delete/}+${hotel.id}">Delete Hotel</a>
</section>
</body>
</html>